name: Package Application with Pyinstaller

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: PyInstaller Linux
      uses: JackMcKew/pyinstaller-action-linux@0.1.4
      with:
          main: app.py

    - uses: actions/upload-artifact@v2
      with:
        name: move-editor_linux
        path: dist/linux

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main
      with:
        main: app.py
    
    - uses: actions/upload-artifact@v2
      with:
        name: move-editor_windows
        path: dist/windows

