name: Package Application with Pyinstaller

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: PyInstaller Linux
      uses: JackMcKew/pyinstaller-action-linux@0.1.4
      with:
        spec: linux.spec

    - uses: actions/upload-artifact@v2
      with:
        name: move-editor_linux
        path: dist/linux

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main
      with:
        spec: windows.exe.spec

    - uses: actions/upload-artifact@v2
      with:
        name: move-editor_exe
        path: dist/windows.exe

